<h2>Ratings</h2>

<p>Total number of ratings:  <%= @ratings.count %></p>

<h2>Top Beers</h2>
  <%= render 'list', values:@top_beers %>
<h2>Top Breweries</h2>
  <%= render 'list', values:@top_breweries %>
<h2>Top Styles</h2>
  <%= render 'list', values:@top_styles %>
<h2>Most active users</h2>
  <%= render 'list', values:@top_users %>
<h2>recent ratings</h2>
  <%= render 'list', values: @recent_ratings %>
